{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<head>
  <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap' rel='stylesheet'>
</head>

<style>

#intro {
  hyphens: auto;}

  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {
    height: auto;
  }
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .site-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
  }

  .main-quote {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.25em;
    color: #383d3a;
    margin-top: 0em;
    font-size: 2em;
  }

  .sub-quote {
    text-align: right;
    font-family: 'Roboto';
    font-style: italic;
    line-height: 1em;
    color: #383d3a;
    margin-top: 1.2em;
    margin-bottom: 2em;
    font-size: 1.25em;
  }

  .text-bold {
    font-family: 'Roboto';
    font-weight: bold;
    line-height: 1.25em;
    color: #383d3a;
    margin-top: 0em;
    font-size: 1.2em;
  }

  .text-normal {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.25em;
    color: #383d3a;
    margin-top: 0em;
    font-size: 1.2em;
  }

</style>

<div class="site-header-content">
    {{#if @site.cover_image}}
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="site-header-cover"
            srcset="{{img_url @site.cover_image size="s"}} 300w,
                    {{img_url @site.cover_image size="m"}} 600w,
                    {{img_url @site.cover_image size="l"}} 1000w,
                    {{img_url @site.cover_image size="xl"}} 2000w"
            sizes="100vw"
            src="{{img_url @site.cover_image size="xl"}}"
            alt=""
        />
    {{/if}}
    <h1 class="site-title">
      <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
      {{@site.title}}
    </h1>
    <p>{{@site.description}}</p>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div>
          <article class="article post no-image page">

    <header class="article-header gh-canvas">
    </header>

    <section class="gh-content gh-canvas">
            <div class="main-quote">
              „Für klimaneutralen Wohlstand müssen wir jetzt die Weichen stellen – mutig, umsichtig und sozial gerecht.“
            </div>

            <div class="sub-quote">
              Anna Lührmann
            </div>

            <figure class="kg-card kg-image-card kg-width-wide">  <img src="http://157.230.110.24/content/images/2021/05/20210123-DSC00388.jpg" class="kg-image" alt="" loading="lazy" width="2000" height="1334" srcset="http://157.230.110.24/content/images/size/w600/2021/05/20210123-DSC00388.jpg 600w, http://157.230.110.24/content/images/size/w1000/2021/05/20210123-DSC00388.jpg 1000w, http://157.230.110.24/content/images/size/w1600/2021/05/20210123-DSC00388.jpg 1600w, http://157.230.110.24/content/images/size/w2400/2021/05/20210123-DSC00388.jpg 2400w" sizes="(min-width: 1200px) 1200px"></figure>

            <div class="text-bold">
              Ich kandidiere für den Rheingau-Taunus/Limburg und über die hessische Landesliste für den Bundestag.
            </div>

            <div class="text-normal">
              Mein Angebot: Ein moderner Politikstil, reichlich politische und internationale Erfahrung, wissenschaftliche Expertise und viel Elan. Seit meiner Jugend engagiere ich mich dafür, unser Klima zu schützen und unserer Demokratie zu stärken. Mit 19 Jahren zog ich als jüngste Abgeordnete in den Bundestag ein.
            </div>


            <figure class="kg-card kg-image-card"><img src="http://157.230.110.24/content/images/2021/05/BDC2019_1112_110330-1.jpg" class="kg-image" alt="" loading="lazy" width="2000" height="1500" srcset="http://157.230.110.24/content/images/size/w600/2021/05/BDC2019_1112_110330-1.jpg 600w, http://157.230.110.24/content/images/size/w1000/2021/05/BDC2019_1112_110330-1.jpg 1000w, http://157.230.110.24/content/images/size/w1600/2021/05/BDC2019_1112_110330-1.jpg 1600w, http://157.230.110.24/content/images/size/w2400/2021/05/BDC2019_1112_110330-1.jpg 2400w" sizes="(min-width: 720px) 720px"></figure>

            <p>Nach zwei Wahlperioden wendete ich mich der Wissenschaft zu. Als Wissenschaftler*innen können wir Probleme beschreiben. Aber handeln muss die Politik. Und darum geht es mir jetzt.</p>
        </section>

</article>
        </div>


    </div>

</main>
