{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<head>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<style>

#intro {
  hyphens: auto;}

  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {
    height: auto;
  }
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .site-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
  }

  .main-quote {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5em;
    color: #383d3a;
    margin-top: -.1em;
    font-size: 2em;
  }

  .sub-quote {
    text-align: right;
    font-family: 'Roboto';
    font-style: italic;
    line-height: 1em;
    color: #383d3a;
    margin-top: 1.2em;
    margin-bottom: 2.5em;
    font-size: 1.25em;
  }

  .text-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 1.5em;
    color: #383d3a;
    margin-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    font-size: 1.30em;
  }

  .text-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #383d3a;
    margin-top: 1em;
    font-size: 1.30em;
  }

  .kg-card {
    margin-bottom: 2em;
  }

</style>

<div class="site-header-content">
    {{#if @site.cover_image}}
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="site-header-cover"
            srcset="{{img_url @site.cover_image size="s"}} 300w,
                    {{img_url @site.cover_image size="m"}} 600w,
                    {{img_url @site.cover_image size="l"}} 1000w,
                    {{img_url @site.cover_image size="xl"}} 2000w"
            sizes="100vw"
            src="{{img_url @site.cover_image size="xl"}}"
            alt=""
        />
    {{/if}}
    <h1 class="site-title">
      <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
      {{@site.title}}
    </h1>
    <p>Europas Souveränität stärken<br>Werte behaupten<br>Demokratie ausbauen</p>
</div>

{{!-- The main content area --}}
<main>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>


        <div>
          <article class="article post no-image page">

    <header class="article-header gh-canvas">
    </header>

    <section class="gh-content gh-canvas">
            <div class="main-quote" data-aos="fade-in" data-aos-delay="50" data-aos-duration="400">
              „Nur gemeinsam können wir globale Krisen lösen. Wir brauchen ein geeintes Europa als Garant für ambitionierte Klimapolitik.“
            </div>

            <div class="sub-quote" data-aos="fade-in" data-aos-delay="100" data-aos-duration="400">
              Anna Lührmann
            </div>
            
<figure class="kg-card kg-image-card kg-width-wide"><img src="https://anna-luehrmann.de/content/images/2022/09/anna_luehrmann_mdb_DBN9178.jpg" class="kg-image" alt="" loading="lazy" width="2000" height="1333" srcset="https://anna-luehrmann.de/content/images/size/w600/2022/09/anna_luehrmann_mdb_DBN9178.jpg 600w, https://anna-luehrmann.de/content/images/size/w1000/2022/09/anna_luehrmann_mdb_DBN9178.jpg 1000w, https://anna-luehrmann.de/content/images/size/w1600/2022/09/anna_luehrmann_mdb_DBN9178.jpg 1600w, https://anna-luehrmann.de/content/images/size/w2400/2022/09/anna_luehrmann_mdb_DBN9178.jpg 2400w" sizes="(min-width: 1200px) 1200px"></figure>
            

            <div class="text-bold" data-aos="fade-in" data-aos-delay="50" data-aos-duration="400">
              Ich vertrete den Wahlkreis Rheingau-Taunus – Limburg im Deutschen Bundestag und bin Staatsministerin für Europa und Klima im Auswärtigen Amt.
            </div>

            <div class="text-normal" data-aos="fade-in" data-aos-delay="80" data-aos-duration="400">
              Ein transparenter und kooperativer Politikstil, reichlich politische und internationale Erfahrung, wissenschaftliche Expertise und viel Elan – dafür stehe ich. Seit meiner Jugend engagiere ich mich dafür, unser Klima zu schützen und unsere europäische Demokratie zu stärken. Mit 19 Jahren zog ich als jüngste Abgeordnete in den Bundestag ein.
            </div>
       
       <figure class="kg-card kg-image-card kg-width-wide"><img src="https://anna-luehrmann.de/content/images/2022/09/Pressefoto_Anna_Luehrmann_vertikal.jpg" class="kg-image" alt="" loading="lazy" width="2000" height="3000" srcset="https://anna-luehrmann.de/content/images/size/w600/2022/09/Pressefoto_Anna_Luehrmann_vertikal.jpg 600w, https://anna-luehrmann.de/content/images/size/w1000/2022/09/Pressefoto_Anna_Luehrmann_vertikal.jpg 1000w, https://anna-luehrmann.de/content/images/size/w1600/2022/09/Pressefoto_Anna_Luehrmann_vertikal.jpg 1600w, https://anna-luehrmann.de/content/images/size/w2400/2022/09/Pressefoto_Anna_Luehrmann_vertikal.jpg 2400w" sizes="(min-width: 1200px) 1200px"></figure>

     
            <div class="text-normal" data-aos="fade-in" data-aos-delay="80" data-aos-duration="400">
           Ich bin von Herzen Europäerin. Für meine Generation ist es selbstverständlich, in Europa zu Hause zu sein. Ich habe von 2015 bis 2021 an einer schwedischen Universität gearbeitet und zuvor zeitweise in Spanien promoviert. Das war für mich eine große Bereicherung. Ich war Mitglied im Europaausschuss des Deutschen Bundestages und habe mich dort für eine stärkere und demokratische EU eingesetzt. Seit 2021 bin ich erneut Bundestagsabgeordnete und zusätzlich Staatsministerin für Europa und Klima im Auswärtigen Amt. Ich  bin überzeugt, dass wir nur gemeinsam globale Krisen lösen können, und dafür spielt die Europäische Union eine zentrale Rolle. Wir brauchen ein geeintes Europa als Garant für ambitionierte Klimapolitik. 
            </div>
            


        </section>

        <!-- <section class="footer-cta" style="margin-top:3.5em; margin-bottom:-2em; background: #0a321e">
            <div class="inner">
                <h2>Du willst alles direkt erfahren?</h2>
                <a class="footer-cta-button" href="#/portal">
                    <div>Deine E-Mail-Adresse</div>
                    <span>Anmelden</span>
                </a>
                {{!-- ^ This looks like a form element, but it's just a link to Portal,
                making the form validation and submission much simpler. --}}
            </div>
        </section> -->

</article>
        </div>


</main>
